<p>Hola <%= @user.user_attribute.present? ? @user.user_attribute.first_name : @user.email %>!</p>

<p>Alguien a solicitado el enlace para reiniciar tu contraseña, éste es tu llave de acceso <%=@token%>.</p>

<p>GreenPass solicitará una nueva contraseña una vez ingreses la llave en tu proxima visita.<p>

<p>Gracias,</p>

<p><strong>GreenPass LAFISE</strong></p>