jQuery(document).ready(function($) {
  $('body').append($('<div class="overlay">'));

  utility_nav = $('#utility_nav').detach();
  $('#footer').append(utility_nav);

  $('.delete_link').html($('<span>').addClass('fa fa-trash'));
  $('.edit_link').html($('<span>').addClass('fa fa-pencil'));
  $('.view_link').html($('<span>').addClass('fa fa-eye'));

  if ($("#filters_sidebar_section").length > 0) {
    $("#main_content").prepend(
      $('<div class="bloc">').append(
        $('<a>').text('<%= I18n.t 'active_admin.filters.buttons.filter' %>').attr({
          href: '#value', id:'diplay-filter'
        })
      )
    );
  }else{
    $("#main_content").addClass('with_side');
  };

  $(document).on('click', '#diplay-filter', function(event) {
    event.preventDefault();
    $('.overlay').show();
    $("#filters_sidebar_section").addClass('animated slideInUp').show();
  });

  $('.overlay').click(function(event) {
    event.preventDefault();
    $("#filters_sidebar_section").hide();
    $(this).hide();
  });

  $('#tabs > li.has_nested a').each(function(index, el) {
    $(this).click(function(event) {
      $siblings = $(this).parent().siblings('.has_nested').children('.slided_down');
      $siblings.slideUp().removeClass('slided_down');
      $(this).parent().find('ul').slideToggle().toggleClass('slided_down');
    });
  });
  $("#tabs li").each(function(){
    if(window.location.href.indexOf("/"+$(this).attr("id"))!=-1){
      $(this).parents(".has_nested").addClass("current");
      $(this).addClass("current");
    }
  });



  html = document.querySelector('html');
  menu = document.getElementById('header');

  window.onclick = function(event) {
    if (!event.target.matches('.title_bar')) {
      if (menu.className ==  "menu-visible header") { 
        menu.className =  "header";
      }
    }
  };
  menuBar = document.querySelector('.title_bar');
  menuBar.onclick = function(e) {
    if (e.offsetY >= 20 && e.offsetY <= 50 && e.offsetX < 0) {
      menu.className = "menu-visible header";
    } 
  };

  

});