// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
//= require active_admin/editor/wysiwyg
$panelBorder: #babdc5;
$skinActiveColor: #7b8389;
$bodyColor: white;
$skinBlack: rgb(55, 71, 79);
$panelHeaderBck: $skinBlack;
$skinBlackLight: rgb(69, 90, 100);
$textGray: rgb(174, 179, 181);
$skinTextColor: #1e2a33;
$skinTextActiveColor: white;
$skinTextTable: #7f8c8d;
$skinHeaderBck: #1e2a33;

@import "active_admin_flat_skin";
@import "font-awesome";

#header.header #tabs.header-item.tabs li:hover a{
    color: white !important;
}
#header.header #tabs.header-item.tabs li a{
    color: #455a64 !important;
}
#header.header #tabs.header-item.tabs li:hover ul a{
    background-color: #455a64 !important;   
}
.header#header .header-item.tabs#tabs li:hover a {
    background-color: #7b8389;
}
#header.header #tabs.header-item.tabs li.has_nested li.has_nested > a{
    background: url(/assets/active_admin/nested_menu_arrow.gif) no-repeat calc(100% - 18px) 50% !important;
}
#header.header #tabs.header-item.tabs li.has_nested ul.slided_down li a{
    color: white !important;   
}
#header.header #tabs.header-item.tabs li.has_nested ul.slided_down li:hover a {
    color:white !important;
}
#header.header #tabs.header-item.tabs li.has_nested ul.slided_down li a:hover,
#header.header #tabs.header-item.tabs li.has_nested ul.slided_down li.has_nested a:hover {
    color: red !important;
}
#header.header #tabs.header-item.tabs li.current.has_nested .slided_down .current a {
    color: white !important;
}
#header.header #tabs.header-item.tabs li.current.has_nested .slided_down .current > a {
    color: #41cac0 !important;
}
#header.header #tabs.header-item.tabs li.current.has_nested .slided_down .current.has_nested > a {
    color: white !important
}
#header.header .header-item.tabs {
    overflow: hidden;
}
#header.header #tabs.header-item.tabs li.current {
    margin-bottom: 12px !important;
}
#header.header #tabs.header-item.tabs li {
    margin-bottom: 2px !important;
    background-color: rgba(255, 255, 255, 0.2);
}
#header.header #tabs.header-item.tabs > li.has_nested  ul.slided_down li{
    background-color: transparent;
}
#header.header #tabs.header-item.tabs > li.has_nested  ul.slided_down {
    box-shadow: none !important;
}
#header.header #tabs.header-item.tabs > li.has_nested:hover  ul.slided_down {
    background-color: #455a64;
    border-radius: 0;
    /*box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset !important;*/
    display: block;
    float: none;
    position: relative;
}
#header ul.tabs > li.has_nested:hover > a {
    z-index: 99;
}
.header#header .header-item.tabs#tabs li.current.has_nested:hover .slided_down li {
    z-index: 9999;
}
html #header ul.tabs > li.has_nested a, html #header ul.tabs > li.has_nested.current a {
    padding-right: 20px;
}
#header.header #tabs.header-item.tabs li a {
    height: 100%;
    width: 100%;
}
html #header ul.tabs > li a, html #header ul.tabs > li:hover > a, html #header ul.tabs > li.current > a {
    display: inline-block;
}
.header#header li.has_nested .slided_down > li.has_nested ul.slided_down li {
    padding-left: 20px;
}
.header#header {
    background-color: #e0e0e0;
    height: 100% !important;
}
body.show, body.edit, body.new, body.create, body.update  {
    #active_admin_content #main_content_wrapper {
        width: 60%;
        min-width: 600px;
    }
}
#title_bar.title_bar .action_items span.action_item > a {
    background-color: white !important;
    color: #41cac0 !important;
    transition: all 0.5s ease;
}
#title_bar.title_bar .action_items span.action_item a:hover {
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.28) !important;
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.28) !important;
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.28) !important;
}
.title_bar#title_bar{
    background-color: #37a392;
    h2{
        color: white;
        font-size: 1.5em;
    }
}
.header#header {
    -webkit-box-shadow: 3px 0px 8px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 0px 8px -2px rgba(0,0,0,0.5);
    box-shadow: 3px 0px 8px -2px rgba(0,0,0,0.5);
    .site_title {
        background-color: #37a392;
        position:relative;
        height: 70px;
    }
    h1 img {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
    }
}
.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
    color:white;
    font-size: 0.8em;
}
body.active_admin form .activeadmin-wysihtml5 > textarea {
    width: calc(80% - 22px) !important;  
}
#estado-de-la-busqueda-_sidebar_section{
    display: none;    
}
html {
    input[type=submit] {
        box-shadow: none;
        border-radius: 0;
        background: #7b8389;
        color: white;
        border: none;
        text-shadow: none;
        padding: 11px 15px;
    }
    form input[type=submit], form input[type=button], form button,form.filter_form a.clear_filters_btn, a, h2, h3, h1 {
        font-weight: normal !important;
    }
    form fieldset ol > li.has_many_container {
        padding-top:0;
        h3 {
            display:none;
        }
    }
    fieldset.inputs.has_many_fields {
        padding-top: 0;
        border: none;
        box-shadow: none;
        li {
            width: 150px;
            display: inline-block;
        }
    }
    form fieldset.inputs > legend span {
        background: #37a392;
    }
    form {
        li.error select {
            border: 1px solid #932419 !important;
        }

        p.inline-errors {
            display:none;
        }
        ul.errors {
            border-radius:0;
        }
        textarea {
            min-height: 100px;
            max-height: 100px;
            width: calc(80% - 22px);
        }
    }
    form fieldset.inputs {
        border-top: 2px solid #cccccc;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset;
    }
    select {
        padding: 8px 0 7px;
    }
    .panel h3 {
        background: #37a392;
        color: white !important;
        font-size: 1.1em;
    }
    #footer {
        left: 16.1%
    }
    #footer.footer > p:first-child {
        display: none;
    } 
    .panel .panel_contents {
        background: #f4f4f4;
        padding: 10px 15px;
        font-size: 1em;
        li {
            text-align: left;
            width: 100%;
        }
         ul {
            padding: 0;
        }
    }
    .header_red .panel h3 {
        background-color: #d65265;
    }
    .header_access .panel h3 {
        background-color: #63c1bf;
    }
    .header_app_user .panel h3 {
        background-color: #8f78ad;
    }
    .header_app_access .panel h3 {
        background-color: #cae8c8;
        color: #5f6261 !important;
    }
    .header_created_user .panel h3 {
        background-color: #cad4d6;
        color: #5f6261 !important;
    } 
    .header_promotion .panel h3 {
        background-color: #9e918d;
    }
    .header_inbox .panel h3 {
        background-color: #f0c459;
        color: #5f6261 !important;
    }   
    .header_category .panel h3 {
        background-color: #e8c0de;
        color: #5f6261 !important;
    } 

}
html .attributes_table table th, html .attributes_table table td {
    padding: 3px;
}
.ui-datepicker .ui-datepicker-header {
    background-color: #37a392;
    border-bottom: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.ui-datepicker .ui-datepicker-header::before {
    border-bottom: 10px solid #37a392;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    text-shadow: none;
}
.ui-datepicker {
    background: none;
}
.ui-datepicker table.ui-datepicker-calendar {
    border: none;
    border-radius: 0;
}
#filters_sidebar_section {
    display: none;
    position: absolute;
    margin: auto;
    left: 0;
    z-index: 2000;
    right: 0;
    width: 270px;
}

/*cancan messages*/
.flashes {
    background-image: none;
    border: medium none;
    box-shadow: none;
    float: right;
    width: 84.1%;
    margin-top: 1px;
}
.admin_dashboard .blank_slate_container .blank_slate {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    border: none;
    border-radius: 0;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    width: 100%;
}
.blank_slate .panel {
    margin: 0;   
}
/*to change on responsive screen*/
div.columns div.column {
    width: 23% !important;
    height: 250px;
    margin-right: 1%;
}
div.columns:last-child div.column:last-child {
    margin-right: 0;
}
div.blank_slate_container, div.blank_slate_container .blank_slate {
    height: 230px;
}
div.blank_slate_container .blank_slate {
    position: relative;
}
.blank_slate .panel {
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}
html .admin_dashboard .panel .panel_contents {
    position: absolute;
    top: 4.3em;
    width: 100%;
    padding: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
html  .panel .panel_contents > div {
    padding: 10px;
}
.dashboard_action:hover {
    opacity: 0.7;
}
.action_item > a.dashboard_action {
    background-color: #7b8389;
    border: 1px solid #6f767c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8);
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 12px;
    margin-bottom: 5px;
    margin-right: 3px;
    padding: 7px 10px !important;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.3s ease 0s;
}
.action_item > a.dashboard_action:active, .action_item > a.dashboard_action:visited {
    text-decoration: none;
    color: #fff;
}
@media (max-width: 1024px) {
    #header {
        left: -100%;
        transition: all 0.5s ease;
    }
    #titlebar_left {
        display:block
    }
    .title_bar#title_bar {
        width: calc(100% - 4em);
        margin-left: 4em;
        position: absolute;
    }
    #title_bar:before {
        content: "";
        position: absolute;
        top: 35%;
        left: -3em;
        width: 1.4em;
        height: 0.2em;
        border-top: 0.8em double #37a392;
        border-bottom: 0.3em solid #37a392;
    }
    #active_admin_content {
        margin-top: 100px;
    }
    .columns .column {
        float: none;
    }
    div.columns div.column {
        width: 45% !important;
        margin: auto !important;
        display: inline-block;
    }
    .column-container {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .admin_dashboard .blank_slate_container .blank_slate {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    html #footer {
        left: 0
    }
    #active_admin_content {
        width: 100%;
        padding: 0;
    }
    body.show #active_admin_content #main_content_wrapper, body.edit #active_admin_content #main_content_wrapper, body.new #active_admin_content #main_content_wrapper, body.create #active_admin_content #main_content_wrapper, body.update #active_admin_content #main_content_wrapper {
        padding: 0;
        width: 100%;
        min-width: 100%;
    }
    form fieldset ol > li label {
        float: none
    }
    form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form input[type=date], form textarea {
        width: calc(100% - 20px);
    }
    #header.menu-visible {
        left: 0;
        width: 45%;
    }
}

